NODE_ENV=production
DATABASE_URL=postgresql://xxx:xxx@db:5432/xxx?sslmode=disable
BETTER_AUTH_SECRET=xxx
BETTER_AUTH_URL=http://localhost:3000/
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
GITHUB_CLIENT_ID=xxx
GITHUB_CLIENT_SECRET=xxx

SCHOOL42_CLIENT_ID=xxx
SCHOOL42_CLIENT_SECRET=xxx
X_API_KEY=xxx

REDIS_URL=redis://:xxx@redis:6379